PUBLIC_APP_NAME="SvelteKit E-Commerce"

DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_NAME=nextjsportfolio
DATABASE_USER=root
DATABASE_PASSWORD=
DATABASE_TABLE_PREFIX=njsp
DATABASE_REJECT_UNAUTHORIZED=0
DATABASE_AUTOMATIC_MIGRATION=1